* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #171f23;
    color: antiquewhite;
}

header {
    border-radius: 10px;
    box-shadow: 2px 2px 5px #6e82a2;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
}
