@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #171f23;
    color: antiquewhite;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 250vh 100vh;
}

.container {
    border: solid 2px #344d58;
    box-shadow: 2px 2px 10px #344d58;
    margin: 100px auto;
    min-height: 300px;
    padding: 50px;
    overflow: auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 2px red;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    width: 70px;
    padding: 5px;
    background-color: transparent;
    color: antiquewhite;
    border-radius: 10px;
    margin: 5px;
}

.task {
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgba(33, 82, 98, 0.3);
}

.task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn:active {
    transform: scale(95%);
}
